@import "./utils.scss";

$main-content-width: 85%;
$main-content-color: white;
$box-shadow: 0 0 10px rgb(213, 213, 213);

html {
  font-family: $font-content;
  font-size: 16px;
}

// a 태그 초기화
a {
  color: #000000;
  text-decoration: none;
  outline: none;
}

a:hover,
a:active {
  text-decoration: none;
  color: #000000;
  background-color: #f59000;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.weather-container {
  width: $main-content-width;
  height: 7em;
  border-radius: 10px;
  box-shadow: $box-shadow;
  background-color: $main-content-color;

  font-family: $font-content;
  &-inner {
    display: flex;
    height: 100%;
    .weather_left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      margin-left: 20px;
    }
    .weather_right {
      display: flex;
      justify-content: center;
      align-items: center;
      .weather_right_left {
      }
      .weather_right_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .currentTemp {
          margin: 0;
        }
        .todayTemp {
          .red {
            color: red;
            margin-right: 5px;
          }
          .blue {
            margin-left: 5px;
            color: blue;
          }
        }
      }
    }
  }
  .weather-container-inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 360px) and (max-width: 450px) {
  .weather_left {
    font-size: 0.78rem;
    span {
      font-size: 0.8rem;
    }
  }
  .weather_right {
    width: 60%;
    .weather_right_left {
      margin-left: 0;
      margin-right: 10px;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
  .todayTemp {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 359px), (min-width: 450px) {
  .currentTemp {
    font-size: 2rem;
  }
  .weather_right {
    width: 50%;
    .weather_right_left {
      img {
        width: 80px;
        height: 80px;
      }
      margin-right: 20px;
    }
  }
}

.todayboard-container {
  width: $main-content-width;
  height: 25vh;
  background-color: $main-content-color;

  box-shadow: $box-shadow;
  border-radius: 10px;
  background-color: $main-content-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.todayboard-unvisible {
  width: $main-content-width;
  height: 20vh;
  background-color: $main-content-color;
  box-shadow: $box-shadow;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-box {
    width: 50vw;
    height: 10vh;
    border-radius: 10px;
    background-color: rgb(216, 216, 216);
    margin-bottom: 10px;
  }
}

.dignose-container {
  width: $main-content-width;
  background-color: $main-content-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: $box-shadow;

  border-radius: 10px;
  .inner-container {
    width: 100%;
    padding-left: 30px;
    display: flex;
    align-items: center;
    margin: 20px;
    p {
      margin: 0;
      width: 30%;
      display: flex;
      flex-direction: row-reverse;
      margin-right: 30px;
      img {
        width: 4.5em;
      }
    }
    &-left {
      display: flex;
      width: 60%;
      flex-direction: column;
      .tt {
        margin: 0;
        font-size: 1.3rem;
      }
      span {
        margin-top: 10px;
        font-size: 1rem;
      }
    }
  }
}

.chatAI-container {
  width: $main-content-width;
  // height: 16vh;
  background-color: $main-content-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: $box-shadow;

  border-radius: 10px;
  .inner-container {
    width: 100%;
    padding-left: 30px;
    display: flex;
    align-items: center;
    margin: 20px;
    p {
      margin: 0;
      width: 30%;
      display: flex;
      flex-direction: row-reverse;
      margin-right: 30px;
      img {
        width: 4.5em;
      }
    }
    &-left {
      display: flex;
      width: 60%;
      flex-direction: column;
      .tt {
        margin: 0;
        font-size: 1.3rem;
      }
      span {
        margin-top: 10px;
        font-size: 1rem;
      }
    }
  }
}

@media screen and (min-width: 360px) and (max-width: 450px) {
  .dignose-container {
    .inner-container {
      &-left {
        span {
          font-size: 0.9rem;
        }
      }
    }
  }
  .chatAI-container {
    .inner-container {
      &-left {
        span {
          font-size: 0.8rem;
        }
      }
    }
  }
}

// @media screen and (max-width: 359px), (min-width: 501px) {
//   body {
//     height: 16vh;
//   }
// }

// 컨테이너 간 간격
@media screen and (min-width: 300px) and (max-width: 500px) {
  .weather-container {
    margin-top: 30px;
  }
  .todayboard-container {
    margin-top: 10px;
  }
  .todayboard-unvisible {
    margin-top: 10px;
  }
  .dignose-container {
    margin-top: 10px;
  }
  .chatAI-container {
    margin-top: 10px;
  }
}
@media screen and (max-width: 359px), (min-width: 501px) {
  .weather-container {
    margin-top: 30px;
  }
  .todayboard-container {
    margin-top: 20px;
  }
  .todayboard-unvisible {
    margin-top: 20px;
  }
  .dignose-container {
    margin-top: 20px;
  }
  .chatAI-container {
    margin-top: 20px;
  }
}
