@import "./utils.scss";

.topbar-container {
  width: 100%;
  background-color: rgb(255, 254, 249);
  ///////////////////////////////
  display: flex;
  justify-content: center;

  ///////////////////////////////
  position: fixed;
  top: 0;
  left: 0;

  div {
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    @media (min-width: $minWidth) {
      width: 85%; /* 360px 이상일 때 전체 너비로 확장 */
    }
    @media (min-width: $maxWidth) {
      width: 870px; /* 1024px 이상일 때는 최대 너비 1024px로 고정 */
    }

    div {
      width: 100%;
    }
    #sidbar-container {
      margin-left: 10px;
      #menu {
        width: 25px;
      }
    }
    .logo {
      display: flex;
      justify-content: center;
      #logo-img {
        height: 5vh;
      }
    }
    .last {
      margin-right: 10px;
      display: flex;
      flex-direction: row-reverse;
      button {
        // height: 3vh;
      }
    }
  }
}
