@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;600&display=swap");

$bg-color: #e5f3df;
$bg-width: 80vw;
$box-shadow: 0 0 10px rgb(213, 213, 213);
$font-content: "M PLUS 1", sans-serif;

$bg-color2: #e5f3df;
$point-color: #3cb362;

$minWidth: 360px;
$maxWidth: 1024px;

$minHeight: 640px;
$maxHeight: 1366px;
