@import "../utils.scss";

$main-content-width: 320px;
$box-shadow: 0 0 10px rgb(229, 243, 223);
$color: rgb(229, 243, 223);

.myBoard-main-container {
  width: 100%;
  background-color: $color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons {
  width: 90%;
  max-width: 700px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 2%;
}
.myBoardsButton {
  background-color: #ffffff00;
  border-color: #ffffff00;
  color: #3cb362;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
}
.myBoardsButton:hover,
.myBoardsButton:active,
.myBoardsButton:focus,
.myBoardsButton.selected {
  background-color: #3cb362;
  color: #ffffff;
}

.likeBoardsButton {
  background-color: #ffffff00;
  border-color: #ffffff00;
  color: #3cb362;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
}
.likeBoardsButton:hover,
.likeBoardsButton:active,
.likeBoardsButton:focus,
.likeBoardsButton.selected {
  background-color: #3cb362;
  color: #ffffff;
}
